<a href="https://colab.research.google.com/github/Nico-lly/INFNET-bootcamp-/blob/main/Exercicio_de_webscrap_IMDB_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [ ]:
html =  requests.get('https://www.imdb.com/list/ls088181017/?ref_=hm_edcft_ft_netflix_a_2/title/tt1190080/').content
soup = BeautifulSoup(html, 'html.parser')
filmes = soup.find_all('h3', class_='lister-item-header')

In [ ]:
links = []
url = 'https://www.imdb.com'

for filme in filmes:
  links.append(url+filme.a['href'])

links[:5]

['https://www.imdb.com/title/tt1190080/',
 'https://www.imdb.com/title/tt1385867/',
 'https://www.imdb.com/title/tt1632708/',
 'https://www.imdb.com/title/tt1591095/',
 'https://www.imdb.com/title/tt0250494/']

In [ ]:
  html_page = requests.get('https://www.imdb.com/title/tt1190080/').content
  soup_page = BeautifulSoup(html_page, 'html.parser')

In [ ]:
worlds_list = []
titles_list = []

for link in links:
  #Fazendo o request e interpretando cada link da lista
  html_page = requests.get(link).content
  soup_page = BeautifulSoup(html_page, 'html.parser')
  #Salvando apenas palavras chaves em variáveis e appendando em uma lista
  worlds = soup_page.find_all('span', class_="itemprop")
  w_list = [world.text.strip() for world in worlds]
  worlds_list.append(w_list[:3])
  #Salvando apenas palavras chaves em variáveis e appendando em uma lista 
  titles = soup_page.find_all('h1')
  t_list = [title.text.replace('\xa0', ' ').strip() for title in titles]
  titles_list.append(t_list)

In [ ]:
movies_df = pd.DataFrame()
movies_df['Titles'] = titles_list
movies_df['Worlds'] = worlds_list

In [ ]:
movies_df.head()

                           Titles                                      Worlds
0                   [2012 (2009)]  [apocalypse, earthquake, end of the world]
1                [Cop Out (2010)]     [united states of america, usa, weapon]
2  [Friends with Benefits (2011)]    [female rear nudity, oral sex, blow job]
3              [Insidious (2010)]                          [boy, house, coma]
4         [Legally Blonde (2001)]                  [law, harvard, law school]